name: Build and Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Verify checkout
      run: |
        Write-Host "Workspace: ${{ github.workspace }}"
        Set-Location ${{ github.workspace }}
        Write-Host "Current directory: $(Get-Location)"
        Write-Host "Contents:"
        Get-ChildItem -Force

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install dependencies
      working-directory: ${{ github.workspace }}
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Build with PyInstaller
      run: |
        Set-Location ${{ github.workspace }}
        Write-Host "Current directory: $(Get-Location)"
        Write-Host "Files in directory:"
        Get-ChildItem
        Write-Host "Checking for helper.spec:"
        Test-Path helper.spec
        python -m PyInstaller helper.spec

    - name: Create Tag
      id: create_tag
      run: |
        echo "TAG_NAME=v$(date +'%Y.%m.%d.%H%M')" >> $GITHUB_ENV

    - name: Create Release
      id: create_release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ env.TAG_NAME }}
        files: |
          dist/POE_Helper.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}